node_modules
# Keep environment variables out of version control
.env

# Ignore Firebase credentials
Server/config/*.json
Server/config/event-accessibility-guide-firebase-adminsdk-fbsvc-9d3ea00e6f.json
